# Ignore Node modules directory (local installs like `npm i express`)
node_modules/

# npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore package manifest locally (if you prefer not to track it)
package.json
package-lock.json
.env
 